#history-content.active {
    display: flex; flex-direction: column; overflow: hidden;
}

#history-header { 
    display: flex; justify-content: flex-end; margin-bottom: 10px; height: 30px; align-items: center; flex-shrink: 0;
}
.btn-group { display: flex; gap: 5px; }

#history-list { 
    flex: 1; height: auto; overflow-y: auto; display: flex; flex-direction: column; gap: 10px; padding-bottom: 10px;
}
#history-list::-webkit-scrollbar { display: none; }

.history-item { 
    border: 1px solid rgba(255,255,255,0.2); border-radius: 8px; padding: 8px; 
    background: rgba(255,255,255,0.2); display: flex; flex-direction: column; gap: 5px; 
    position: relative; padding-left: 8px; backdrop-filter: blur(2px); 
}
#history-content.selection-mode .history-item { padding-left: 35px; cursor: pointer; }

.history-item-checkbox { display: none; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }
#history-content.selection-mode .history-item-checkbox { display: block; }

.history-text-original { background: rgba(165, 243, 252, 0.9); color: #0c4a6e; padding: 5px; border-radius: 4px; font-size: 13px; }
.history-text-translation { background: rgba(233, 213, 255, 0.9); color: #581c87; padding: 5px; border-radius: 4px; font-size: 13px; font-weight: 500; }